/* ++++++++------расположение элементов---++++++ */
.html {
  box-sizing: border-box;
}
:root {
  --color-heding: #212121;
  --color-paragraf: #757575;
  --color-hoverfocus: #2196f3;
  --color-background: #2f303a;
  --color-white: #ffffff;

  --oolor-border: #ececec;
  --color-svg: #afb1b8;
  --transition-d-time: 1250ms;
  --transition-t-f-cubic: cubic-bezier(0.4, 0, 0.2, 1);
}
body {
  color: var(--color-heding);
  background-color: #ffffff;
  font-family: "Roboto", "san-serif";
  font-size: 14px;
  letter-spacing: 0.03em;
}
.item {
  list-style: none;
}
.link {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  /* border: 2px solid rebeccapurple; */
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* +++++++-------разметка-------------------------------++++++ */

/* секция качества */
.container__title--visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.quality {
  display: flex;
  align-items: center;
}
.quality__item:not(:last-child) {
  margin-right: 30px;
}
.quality__background {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f4fa;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
}
.quality__icon {
  width: 70px;
  height: 70px;
}

.quality__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 10px;
}
.quality__text {
  line-height: 1.71;
  color: var(--color-paragraf);
}
/* секция наша работа */
.section--padding-top {
  padding-top: 0px;
}
.container__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: var(--color-heding);
  margin-bottom: 50px;
  text-align: center;
}

.ourwork {
  display: flex;
  align-items: center;
}
.ourwork__item {
  position: relative;
}
.ourwork__item:not(:last-child) {
  margin-right: 30px;
}
.ourwork__description {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}
.ourwokr__tagline {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;

  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--color-white);
}

/* секция наша команда */

.section--ackground-color {
  background-color: #f5f4fa;
}

.ourcommand {
  display: flex;
  align-items: center;
}
.ourcomand__card {
  flex-basis: calc((100% - (3 * 30px)) / 4);
  background-color: var(--color-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.ourcomand__card:not(:last-child) {
  margin-right: 30px;
}
.inner {
  padding-top: 30px;
  text-align: center;
  padding-bottom: 30px;
}
.inner__description {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 10px;
}
.inner__text {
  font-size: 16px;
  line-height: 1.19;
  color: var(--color-paragraf);
  margin-bottom: 16px;
}
.webby {
  display: flex;
  justify-content: center;
}
.webby__item {
  width: 44px;
  height: 44px;
}
.webby__item + .webby__item {
  margin-left: 10px;
}
.webby__link {
  display: flex;
  width: 100%;
  height: 100%;

  align-items: center;
  justify-content: center;
  color: var(--color-svg);
  border-radius: 50%;
  border: none;
  transition-property: color, background-color;
  transition-duration: var(--transition-d-time);
  transition-timing-function: var(--transition-t-f-cubic);
}
.webby__link:focus,
.webby__link:hover {
  background-color: var(--color-hoverfocus);
  color: var(--color-white);
  border: none;
}
.webby__svg {
  width: 20px;
  height: 20px;
}
.webby__svg--color {
  fill: currentColor;
}
/* ---  секция постоянные клиенты  --- */
.clients {
  display: flex;
}

.clients__item {
  width: 170px;
  height: 92px;
}

.clients__item + .clients__item {
  margin-left: 30px;
}

.clients__link {
  display: flex;
  fill: #afb1b8;
  border: 1px solid var(--color-svg);
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  transition-property: fill, border-color;
  transition-duration: var(--transition-d-time);
  transition-timing-function: var(--transition-t-f-cubic);
}
.clients__link:hover,
.clients__link:focus {
  fill: var(--color-hoverfocus);
  border-color: var(--color-hoverfocus);
}
.clients__icon {
  height: 60px;
  width: 106px;
}
/* ------страница портфолио------------------- */
/*        фильтры            */

.buttonflex .button-item:not(:last-child) {
  margin-right: 8px;
}
.projekt {
  justify-content: center;
}
.buttonflex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 50px;
  min-width: 73px;
}

.button-projekt {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;

  color: var(--color-heding);
  background: #f5f4fa;
  cursor: pointer;
  border: 0px;
  border-radius: 4px;
  transition-property: color, background-color, box-shadow;
  transition-duration: var(--transition-d-time);
  transition-timing-function: var(--transition-t-f-cubic);
}
.button-projekt:focus,
.button-projekt:hover {
  color: var(--color-white);
  background-color: var(--color-hoverfocus);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/*          проекты              */
.projekt-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--color-heding);
  max-width: 370px;
  margin-bottom: 4px;
}
.projekt-element {
  padding: 20px 24px;
  border-right: 1px solid var(--oolor-border);
  border-left: 1px solid var(--oolor-border);
  border-bottom: 1px solid var(--oolor-border);
}
.projekt-text {
  font-size: 16px;
  line-height: 1.87;
  color: var(--color-paragraf);
}
.projekts {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.projekt-item {
  flex-basis: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  display: block;
  /* overflow: hidden; */
}
.projekt-link {
  overflow: hidden;
  transition-property: box-shadow;
  transition-duration: var(--transition-d-time);
  transition-timing-function: var(--transition-t-f-cubic);
}
.projekt-link:hover,
.projekt-link:focus {
  display: block;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.projekt-item:nth-child(3n) {
  margin-right: 0px;
}
.projekt-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.projekt-inner {
  position: relative;
  overflow: hidden;

  width: 370px;
  height: 294px;
}
.projekt-img {
  display: block;

  object-fit: cover;
}
.projekt-deskription {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 24px;

  background-color: var(--color-hoverfocus);
  color: var(--color-white);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;

  overflow: auto;
  transform: translateY(100%);
  transition: transform var(--transition-d-time) var(--transition-t-f-cubic);
}
.projekt-link:focus .projekt-deskription,
.projekt-link:hover .projekt-deskription {
  transform: translateY(0%);
}

/* ---------------футер ----------*/
.footer {
  background-color: var(--color-background);
  padding-top: 60px;
  padding-bottom: 60px;
}
.container--flex {
  display: flex;
  align-items: baseline;
}

.logo__footer {
  margin-bottom: 20px;
  display: inline-block;

  transition-property: color;
  transition-duration: var(--transition-d-time);
  transition-timing-function: var(--transition-t-f-cubic);
}
.logo__footer--white-text {
  color: var(--color-white);
}
.logo__footer:hover,
.logo__footer:focus {
  color: var(--color-hoverfocus);
}
.address {
  font-style: inherit;
  line-height: 1.71;
}
.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__link {
  color: var(--color-white);
  transition-property: color;
  transition-duration: var(--transition-d-time);
  transition-timing-function: var(--transition-t-f-cubic);
}
.address__link:hover,
.address__link:focus {
  color: var(--color-hoverfocus);
}
.address__contakt {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-paragraf);
  transition-property: color;
  transition-duration: var(--transition-d-time);
  transition-timing-function: var(--transition-t-f-cubic);
}
.address__contakt:hover,
.address__contakt:focus {
  color: var(--color-hoverfocus);
}

.connection {
  margin-left: 70px;
}
.connection__title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--color-white);
  margin-bottom: 20px;
}

.webby__link--bg-color {
  background-color: rgba(255, 255, 255, 0.1);
}

.webby__svg {
  height: 20px;
  width: 20px;
}
.webby__svg--color-in-footer {
  fill: var(--color-white);
}

.mailing {
  flex-grow: 1;
  margin-left: 93px;
}
.mailing__title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--color-white);
  margin-bottom: 20px;
}
.mailing__form {
  display: flex;
  align-items: center;
}
.mailing__input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  color: var(--color-white);
}
.mailing__button {
  height: 50px;
  min-width: 200px;
  margin-left: 12px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;

  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  padding: 10px 2px 10px 28px;

  color: #ffffff;
  border: transparent;
  background: var(--color-hoverfocus);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition-property: background-color;
  transition-duration: var(--transition-d-time);
  transition-timing-function: var(--transition-t-f-cubic);
}
.mailing__button:hover,
.mailing__button:focus {
  background-color: #188ce8;
}
.mailing__icon {
  fill: var(--color-white);
  height: 24px;
  width: 24px;
  margin-left: 10px;
}
/* страница контактов и тесты*/

.social-links {
  display: flex;
  justify-content: space-between;

  height: 44px;
  width: 206px;
}
.social-links:not(last-child) {
  margin-right: 10px;
}

.icon {
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: none;
  margin: 0;
  padding: 0;
}
.icon-instagram {
  width: 20px;
  height: 20px;
}
.icon-twitter {
  width: 20px;
  height: 20px;
}
.icon-facebook {
  width: 20px;
  height: 20px;
}
.icon-linkedin {
  width: 20px;
  height: 20px;
}
/* ----- модальное окно -------- */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 500ms, visibility 500ms;
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  background-color: rgb(98, 0, 255);
  transform: rotate(180deg);
  width: 0;
  height: 200%;
}
.modal__button-close {
  position: absolute;
  right: 8px;
  top: 8px;

  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  padding: 0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal__button-close:focus,
.modal__button-close:hover {
  fill: var(--color-hoverfocus);
  cursor: pointer;
}
.modal {
  transition-property: background-color, transform, width, height;
  transition-duration: var(--transition-d-time);
  transition-timing-function: var(--transition-t-f-cubic);
  transition-delay: 0;
  transform: rotate(0deg);

  position: relative;
  width: 528px;
  height: 581px;
  padding: 40px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
/* 
.modal {
  animation-name: animation;
  animation-duration: 3s;
  animation-timing-function: var(--transition-t-f-cubic);
  animation-iteration-count: 1;
}
@keyframes animation {
  0% {
    transform: translate(0%, 0%);
    border-radius: 50%;
    background-color: violet;
    rotate: 360deg;
  }

  100% {
    transform: translate(-50%, -50%);
    border-radius: 1%;
    background-color: rgb(255, 255, 255);
    rotate: 0deg;
  }
} */

.modal__title {
  font-size: 20px;
  line-height: 1.17;
  font-weight: 700;
  text-align: center;
  margin-bottom: 12px;
  color: var(--color-heding);
}
/* .modal-description {
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: var(--color-paragraf);
} */
.form {
  font-size: 12px;
  line-height: 1.17;
  color: var(--color-paragraf);
  letter-spacing: 0.01em;
}
.form__field {
  position: relative;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.form__label {
  margin-bottom: 4px;
  display: flex;
  align-items: center;
}
.form__icon {
  position: absolute;
  top: 29px;
  left: 12px;
  width: 18px;
  height: 18px;
  transition-property: fill;
  transition-duration: var(--transition-d-time);
  transition-timing-function: var(--transition-t-f-cubic);
}
.form__input {
  outline: none;
  padding-left: 42px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition-property: border-color;
  transition-duration: var(--transition-d-time);
  transition-timing-function: var(--transition-t-f-cubic);
}

.form__input:focus {
  border-color: var(--color-hoverfocus);
}
.form__input:focus + .form__icon {
  fill: var(--color-hoverfocus);
}
.form__field--comments {
  position: relative;

  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 100%;
}
.form__label + textarea {
  display: block;

  resize: none;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);

  transition-property: border;
  transition-duration: var(--transition-d-time);
  transition-timing-function: var(--transition-t-f-cubic);
}
textarea:focus {
  border: 1px solid var(--color-hoverfocus);
  outline: none;
}
.form__label + textarea:not(:placeholder-shown) {
  color: #000000;
}
.form__label {
  position: relative;
  margin-bottom: 4px;
  display: flex;
}
.checkbox {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.checkbox__label {
  display: flex;
  align-items: center;
}
.checkbox__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.checkbox__icon {
  border: 2px solid black;
  border-radius: 2px;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  fill: transparent;
  display: inline-block;
  background-size: contain;
  background-origin: border-box;
  transition-property: fill, background, border;
  transition-duration: var(--transition-d-time);
  transition-timing-function: var(--transition-t-f-cubic);
}
.checkbox__input:checked ~ .checkbox__icon {
  border-radius: 2px;
  background: var(--color-hoverfocus);
  fill: var(--color-white);
  border: 2px solid var(--color-hoverfocus);
}
.checkbox__text {
  display: inline;
  margin-right: 4px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.checkbox__link {
  position: relative;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-hoverfocus);
}
.checkbox__link::after {
  position: absolute;
  bottom: 5px;
  content: "";
  display: block;
  width: 100%;
  height: 1px;

  background-color: var(--color-hoverfocus);
}

.button__send {
  display: block;
  margin: 0 auto;
  height: 50px;

  min-width: 200px;
  padding: 0;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  border: transparent;
  background: var(--color-hoverfocus);
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
  border-radius: 4px;
  transition-property: background-color;
  transition-duration: var(--transition-d-time);
  transition-timing-function: var(--transition-t-f-cubic);
}
.button__send:focus,
.button__send:hover {
  background-color: #188ce8;
}
/* ------тест--------- */
.containr {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin-left: 15px;
  margin-right: 15px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.box::before {
  display: inline-block;
  font-size: 20px;
}

.box {
  /*   transform: scale(1.25); */
  background-color: orange;

  animation: animate125 3000ms infinite 1000ms;
}

.box::before {
  content: "scale(1.25)";
}

@keyframes animate125 {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.25);
  }

  100% {
    transform: scale(1);
  }
}
