.section--background-color {
  background-color: #f5f4fa;
}
.section__title {
  @include title-text;
}

.our-command {
  display: flex;
  align-items: center;
}
.our-comand__item {
  flex-basis: calc((100% - (3 * 30px)) / 4);
  background-color: $color-white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  &:not(:last-child) {
    margin-right: 30px;
  }
}
.our-comand__thumb {
  padding-top: 30px;
  text-align: center;
  padding-bottom: 30px;
}
.our-comand__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 10px;
}
.our-comand__text {
  font-size: 16px;
  line-height: 1.19;
  color: $color-paragraf;
  margin-bottom: 16px;
}
