.section--padding-top {
  padding-top: 0px;
}
.container__title {
  @include title-text;
}

.ourwork {
  display: flex;
  align-items: center;
}
.ourwork__item {
  position: relative;

  &:not(:last-child) {
    margin-right: 30px;
  }
}
.ourwork__description {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}
.ourwokr__tagline {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;

  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: $--color-white;
}
