.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #2196f3;
  &__header {
    margin-right: 93px;
    transition-property: color;
    @include transition;
    &:hover,
    &:focus {
      color: $--color-hoverfocus;
    }
  }
  &--black-text {
    color: #000000;
  }
}
